* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
}

a:hover{
  text-decoration: none;
}

/*========MENU==========*/

.navbar{
  background-color: #ffffff;
  width: 100%;
  display: table;
  position: fixed;
  z-index: 9001;
}

/*========MEDIA CARROUSEL=======*/
@media (min-width: 450px)  {
  .d-md-block{
    display: block!important;
    
    }
}

/*========Titles==========*/
.section-title h2{
  font-size: 14px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: #aaaaaa;
  padding: 20px 0;
}

.section-title h2::after{
  content: " ";
  background-color: #7610C9;
  margin: 4px 10px;
  display: inline-block;
  height: 1px;
  width: 120px;
}

.section-title h3{
  font-size: 35px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: #7610C9;
  padding-bottom: 15px;
}

.section-title small{
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.productos ul a li{
  text-decoration: none;
  padding-left: 60px;
  color: black;
  list-style: none;
 
}

section{
  padding: 20px 0;
}


/*========Portafolio==========*/

.portafolio-contenedor{
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  border-radius: 5px;

}

.portafolio-contenedor img{
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.portafolio-contenedor:hover img{
  -moz-transition: scale(1.2);
  -webkit-transform: scale(1.2) ;
  transform: scale(1.2);
}

.portafolio-detalles{
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 9000;
}

.portafolio-detalles h2{
  margin-bottom: 0px;
}

.portafolio-detalles a h2, .portafolio-detalles p{
  color: #f3f3f3;
}













